[Desktop Entry]
Icon=text-html
Name=https://docs.google.com/document/d/1VZ-Xa-oNLGRyRkMpqdRKSqj_O1UL_XOp-g3ss_3LIMs/edit
Type=Link
URL[$e]=https://docs.google.com/document/d/1VZ-Xa-oNLGRyRkMpqdRKSqj_O1UL_XOp-g3ss_3LIMs/edit
