# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
myenv/pyvenv.cfg
myenv/Scripts/activate
myenv/Scripts/activate.bat
myenv/Scripts/Activate.ps1
myenv/Scripts/convert-caffe2-to-onnx.exe
myenv/Scripts/convert-onnx-to-caffe2.exe
myenv/Scripts/cygdb.exe
myenv/Scripts/cython.exe
myenv/Scripts/cythonize.exe
myenv/Scripts/deactivate.bat
myenv/Scripts/easyocr.exe
myenv/Scripts/f2py.exe
myenv/Scripts/fleetrun.exe
myenv/Scripts/fonttools.exe
myenv/Scripts/httpx.exe
myenv/Scripts/huggingface-cli.exe
myenv/Scripts/imageio_download_bin.exe
myenv/Scripts/imageio_remove_bin.exe
myenv/Scripts/isympy.exe
myenv/Scripts/lsm2bin.exe
myenv/Scripts/ninja.exe
myenv/Scripts/normalizer.exe
myenv/Scripts/paddleocr.exe
myenv/Scripts/pip.exe
myenv/Scripts/pip3.10.exe
myenv/Scripts/pip3.11.exe
myenv/Scripts/pip3.exe
myenv/Scripts/py.test.exe
myenv/Scripts/pybidi.exe
myenv/Scripts/pyftmerge.exe
myenv/Scripts/pyftsubset.exe
myenv/Scripts/pytesseract.exe
myenv/Scripts/pytest.exe
myenv/Scripts/python.exe
myenv/Scripts/pythonw.exe
myenv/Scripts/tiff2fsspec.exe
myenv/Scripts/tiffcomment.exe
myenv/Scripts/tifffile.exe
myenv/Scripts/torchrun.exe
myenv/Scripts/tqdm.exe
myenv/Scripts/transformers-cli.exe
myenv/Scripts/ttx.exe
myenv/share/man/man1/isympy.1
myenv/share/man/man1/ttx.1
Code/myenv/pyvenv.cfg
Code/myenv/Scripts/activate
Code/myenv/Scripts/activate.bat
Code/myenv/Scripts/Activate.ps1
Code/myenv/Scripts/convert-caffe2-to-onnx.exe
Code/myenv/Scripts/convert-onnx-to-caffe2.exe
Code/myenv/Scripts/cygdb.exe
Code/myenv/Scripts/cython.exe
Code/myenv/Scripts/cythonize.exe
Code/myenv/Scripts/deactivate.bat
Code/myenv/Scripts/easyocr.exe
Code/myenv/Scripts/f2py.exe
Code/myenv/Scripts/fleetrun.exe
Code/myenv/Scripts/fonttools.exe
Code/myenv/Scripts/httpx.exe
Code/myenv/Scripts/huggingface-cli.exe
Code/myenv/Scripts/imageio_download_bin.exe
Code/myenv/Scripts/imageio_remove_bin.exe
Code/myenv/Scripts/isympy.exe
Code/myenv/Scripts/lsm2bin.exe
Code/myenv/Scripts/ninja.exe
Code/myenv/Scripts/normalizer.exe
Code/myenv/Scripts/paddleocr.exe
Code/myenv/Scripts/pip.exe
Code/myenv/Scripts/pip3.10.exe
Code/myenv/Scripts/pip3.11.exe
Code/myenv/Scripts/pip3.exe
Code/myenv/Scripts/py.test.exe
Code/myenv/Scripts/pybidi.exe
Code/myenv/Scripts/pyftmerge.exe
Code/myenv/Scripts/pyftsubset.exe
Code/myenv/Scripts/pytesseract.exe
Code/myenv/Scripts/pytest.exe
Code/myenv/Scripts/python.exe
Code/myenv/Scripts/pythonw.exe
Code/myenv/Scripts/tiff2fsspec.exe
Code/myenv/Scripts/tiffcomment.exe
Code/myenv/Scripts/tifffile.exe
Code/myenv/Scripts/torchrun.exe
Code/myenv/Scripts/tqdm.exe
Code/myenv/Scripts/transformers-cli.exe
Code/myenv/Scripts/ttx.exe
Code/myenv/share/man/man1/isympy.1
Code/myenv/share/man/man1/ttx.1
Code/myenv/bin/activate
Code/myenv/bin/activate.csh
Code/myenv/bin/activate.fish
Code/myenv/bin/Activate.ps1
Code/myenv/bin/convert-caffe2-to-onnx
Code/myenv/bin/convert-onnx-to-caffe2
Code/myenv/bin/cygdb
Code/myenv/bin/cython
Code/myenv/bin/cythonize
Code/myenv/bin/easyocr
Code/myenv/bin/f2py
Code/myenv/bin/fleetrun
Code/myenv/bin/fonttools
Code/myenv/bin/httpx
Code/myenv/bin/imageio_download_bin
Code/myenv/bin/imageio_remove_bin
Code/myenv/bin/isympy
Code/myenv/bin/lsm2bin
Code/myenv/bin/ninja
Code/myenv/bin/normalizer
Code/myenv/bin/paddle
Code/myenv/bin/paddleocr
Code/myenv/bin/pip
Code/myenv/bin/pip3
Code/myenv/bin/pip3.11
Code/myenv/bin/proton
Code/myenv/bin/proton-viewer
Code/myenv/bin/pybidi
Code/myenv/bin/pyftmerge
Code/myenv/bin/pyftsubset
Code/myenv/bin/pytesseract
Code/myenv/bin/python
Code/myenv/bin/python3
Code/myenv/bin/python3.11
Code/myenv/bin/tiff2fsspec
Code/myenv/bin/tiffcomment
Code/myenv/bin/tifffile
Code/myenv/bin/torchrun
Code/myenv/bin/tqdm
Code/myenv/bin/ttx
