pdf2image==1.17.0
pathlib==1.0.1
table_ocr==0.2.5
easyocr==1.7.1
paddleocr==2.8.1
paddlepaddle==2.6.1; sys_platform != 'darwin'
paddlepaddle==3.0.0b1; sys_platform == 'darwin'
pillow==10.4.0
PyPDF2==2.10.5
pytesseract==0.3.10
common==0.1.2
setuptools==73.0.1
pytest==8.3.2
transformers==4.44.2
numpy==1.26.4
PyQt5==5.15.11
pandas==2.2.3
opencv-python==4.5.5.62
poppler-utils==0.1.0