[Desktop Entry]
Icon=text-html
Name=https://teaching.csse.uwa.edu.au/units/CITS3200/project/Meeting_Agenda_Template.docx
Type=Link
URL[$e]=https://teaching.csse.uwa.edu.au/units/CITS3200/project/Meeting_Agenda_Template.docx
