[Desktop Entry]
Icon=text-html
Name=https://teaching.csse.uwa.edu.au/units/CITS3200/project/Minutes_GroupX_WkY.html
Type=Link
URL[$e]=https://teaching.csse.uwa.edu.au/units/CITS3200/project/Minutes_GroupX_WkY.html
